@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-gradient: linear-gradient(to right, #2563eb, #1d4ed8);
}

.btn-primary {
  background: var(--primary-gradient);
}




@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;

    --primary-gradient: linear-gradient(to right, #2563eb, #1d4ed8);
    --secondary: #8b5cf6;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* skills section scroll animation */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

@keyframes scroll-reverse {
  0% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(0);
  }
}

.animate-scroll {
  display: flex;
  animation: scroll 40s linear infinite;
}

.animate-scroll-reverse {
  display: flex;
  animation: scroll-reverse 40s linear infinite;
}

/* Pause animation on hover */
.group:hover .animate-scroll,
.group:hover .animate-scroll-reverse {
  animation-play-state: paused;
}

/* message option  */
@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }

  50% {
    opacity: 1;
    transform: scale(1.05);
  }

  70% {
    transform: scale(0.9);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}