@import "tailwindcss";

:root {
  --bg-Hero-primary: linear-gradient(to bottom right, rgba(255, 255, 255, 1), rgba(239, 246, 255, 0.3), rgba(207, 250, 254, 0.2));
  --Hero-ImgShadow-primary: linear-gradient(to right, #183b64, #67e8f9);
  --bg-primary: linear-gradient(to bottom right, #f9fafb, rgba(239, 246, 255, 0.3));
  --bg-secondary: linear-gradient( to bottom right, #2563eb, #1d4ed8, #7c3aed);
  --btn-primary: linear-gradient(to right, #062c83, #114ad7);
  --btn-secondary: white;
  --text-primary: linear-gradient( to right, #2563eb, #0891b2);
  --text-secondary:rgb(37, 99, 235);
  --text-default:rgb(81, 89, 100);
;
}


.btn-primary {
  background: var(--btn-primary);
}
.btn-secondary {
  background: var(--btn-secondary);
}
.text-primary {
  background: var(--text-primary);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text-secondary {
 color: var(--text-secondary);
  
}
.text-default {
 color: var(--text-default);
  
}

.bg-Hero-primary {
  background: var(--bg-Hero-primary);
}

.hero-ImgShadow-primary {
  background: var(--Hero-ImgShadow-primary);
}
.bg-primary {
  background: var(--bg-primary);
}
.bg-secondary {
  background: var(--bg-secondary);
}





@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --secondary: #8b5cf6;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* skills section scroll animation */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

@keyframes scroll-reverse {
  0% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(0);
  }
}

.animate-scroll {
  display: flex;
  animation: scroll 40s linear infinite;
}

.animate-scroll-reverse {
  display: flex;
  animation: scroll-reverse 40s linear infinite;
}

/* Pause animation on hover */
.group:hover .animate-scroll,
.group:hover .animate-scroll-reverse {
  animation-play-state: paused;
}

/* message option  */
@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }

  50% {
    opacity: 1;
    transform: scale(1.05);
  }

  70% {
    transform: scale(0.9);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}